<footer class={{footerSection}}>
    <div class="container">
        <article class="footerContent">

            <article class={{footerText}}>
                <h5> {{AboutUs}} </h5>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /> Harum ipsam, porro maxime quas voluptate repellendus.</p>
            </article>

            <article class={{footerText}}>
                <h5> {{Newsletter}}</h5>
                    <p> Stay updated with our latest trends </p>
                    <form action="#">
                        <input type="text" placeholder="Enter Email Address" class="footerInput"/>
                        <input type="button" value=">" class="footerBtn"/>
                    </form>
            </article>

            <article class={{footerText}}>
                <h5> {{follow}}</h5>
                    <p> Let us be social </p>
                   <article class="footerSocials d-flex justify-content-between">
                        <p> FB </p>
                        <p> IG </p>
                        <p> TW </p>
                        <p> LI </p>
                        <p> Google + </p>
                   </article>
            </article>

        </article>
    </div>

</footer>
