<section class={{projects}}>

    <section class={{colorContainer}}>
        <div class="container d-flex justify-content-around">
            <figure class={{projectsImg}}>
               <img [src] = 'figureImg' />
            </figure>

            <aside class="ProjectsText"> 
                <h2>Our <em><span> Projects</span></em> <br /> will leave you amazed. </h2> 
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum ex ad corporis. <br /> Corrupti distinctio sunt assumenda sint placeat? Sit hic nisi, <br /> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quis laborum explicabo vitae minus alias assumenda corrupti unde recusandae officia, obcaecati, maiores ratione! Esse error illum maiores tempore minima eaque! ipsa vel veritatis impedit ipsum quaerat deserunt quidem.</p> 
                <button type="button" class="projectBtn"> VIEW PROJECTS </button>           
            </aside>
        </div>
    </section>

</section>





