<section class="GalleryImagesContainer">

    <ngb-carousel *ngIf="gallerys">
        <ng-template ngbSlide>
          <div class="GalleryImgWrapper">
            <img [src]="gallerys[0].firstImg" alt="Random first slide">
            <img [src]="gallerys[0].SecondImg" alt="Random first slide">
            <img [src]="gallerys[0].ThirdImg" alt="Random first slide">
            <img [src]="gallerys[0].fourthImg" alt="Random first slide">
            <img [src]="gallerys[0].fifthImg" alt="Random first slide">
            <img [src]="gallerys[0].SixthImg" alt="Random first slide">
            <img [src]="gallerys[0].SeventhImg" alt="Random first slide">
            <img [src]="gallerys[0].EigthImg" alt="Random first slide">
            <img [src]="gallerys[0].NinthImg" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="GalleryImgWrapper">
            <img [src]="gallerys[1].firstImg" alt="Random Second slide">
            <img [src]="gallerys[1].SecondImg" alt="Random Second slide">
            <img [src]="gallerys[1].ThirdImg" alt="Random Second slide">
            <img [src]="gallerys[1].fourthImg" alt="Random Second slide">
            <img [src]="gallerys[1].fifthImg" alt="Random Second slide">
            <img [src]="gallerys[1].SixthImg" alt="Random Second slide">
            <img [src]="gallerys[1].SeventhImg" alt="Random Second slide">
            <img [src]="gallerys[1].EigthImg" alt="Random Second slide">
            <img [src]="gallerys[1].NinthImg" alt="Random Second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="GalleryImgWrapper">
            <img [src]="gallerys[2].firstImg" alt="Random Third slide">
            <img [src]="gallerys[2].SecondImg" alt="Random Third slide">
            <img [src]="gallerys[2].ThirdImg" alt="Random Third slide">
            <img [src]="gallerys[2].fourthImg" alt="Random Third slide">
            <img [src]="gallerys[2].fifthImg" alt="Random Third slide">
            <img [src]="gallerys[2].SixthImg" alt="Random Third slide">
            <img [src]="gallerys[2].SeventhImg" alt="Random Third slide">
            <img [src]="gallerys[2].EigthImg" alt="Random Third slide">
            <img [src]="gallerys[2].NinthImg" alt="Random Third slide">
          </div>
        </ng-template>
      </ngb-carousel>

</section>
